@charset "UTF-8";

body {
    width:1440px;
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    margin:0;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 64px;
    padding-right: 64px;
    height:75px;
    background-color: #fff;
}

.logo-text {
    display: flex;
}

.logo-text img {
    width:128px;
    height: 48px;
    float: left;
}

.header-text-btn {
    /* float: right; */
    margin-right: 160px;
}

.header-text-btn a {
    display: inline-block;
    text-align: center;
    width: 316px;
    line-height: 44px;
    background-color: #DA6B63;
    color: #fff;
    border-radius: 25px;
}

.main-img {
    
    width: 1440px;
    height:504px;
    background-image: url("https://isara.life/wp-content/themes/isara_v2/img/main.jpg");
    background-size: cover;
    text-align: center;
}

.contents {
    position: relative;
    top: 178px;
}

.main-img img {
    width: 280px;
    height: 84px;
}

.main-img h2 {
    width: 352px;
    margin: 0 auto;
    text-align: center;;
}

.message-text-1 {
    width: 1440px;
    height: 500px;
    margin:0 auto;
    background-color: #eab94d;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.message-text-1 p {
    
    margin: 0;
    padding-top: 32px;
}

.message-text-1 h4 {
    display:inline-block;
    width: 468px;
    height: 32px;
    
    line-height: 32px;
    background-color: #fff;
    border-radius: 5px;
    font-weight:bold;
    font-size: 14px;
    color: #ff0000;
    
}

.message-text-1 a{
    display: inline-block;
    margin-top: 46px;
    width:1032px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #da6b64;
    border-radius: 50px;
    font-size: 32px;
    line-height: 100px;
}

a {
    text-decoration: none;
    color:#fff;
}

a:hover {
    text-decoration: underline;
}

.ana {
    font-weight: bold;
    font-size:  18px;
    line-height: 1;
}

.message-text-2 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.text-2 {
    position:absolute;
    width:100%;
    margin: 0 auto;
    top:40px;
}
.kakko {
    width: 850px;
    margin: 0 auto;
    margin-top:40px;
	padding: 30px;
	position: relative;
}

.kakko::before, .kakko::after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
}

.kakko::before {
	border-left: solid 5px #ebbc55;
	border-top: solid 5px #ebbc55;
	top: 0;
	left: 0;
}

.kakko::after {
	border-right: solid 5px #ebbc55;
	border-bottom: solid 5px #ebbc55;
	bottom: 0;
	right: 0;
}

.bottom-img {
    
    background-image: url("https://isara.life/wp-content/themes/isara_v2/img/introbottom.jpg");
    background-size: cover;
    height:588px;
}
.line-3 span {
    font-weight: bold;
    font-size: 18px;
    text-decoration: 3px #ebbc55 underline;
    /* border-bottom: 10px solid #eab94d; */
}
.circle-1 {
    width: 100%;
    margin-top: 120px;
}

.circle-1 p{
    margin: 0 auto;
    width: 82px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    color: #fff;
    background-color: #eab94d;
    border-radius: 50%;
    margin-bottom: 40px;
}

.message-text-3 {
   padding:40px;
    
    height: 636px;
    margin: 0 auto;
    background-color: #fef5e0;
}

.kakko-2 {
    width: 850px;
    margin: 0 auto;
    margin-top: 82px;
	padding: 30px;
	position: relative;
}

.kakko-2::before, .kakko-2::after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
}

.kakko-2::before {
	border-left: solid 5px #ebbc55;
	border-top: solid 5px #ebbc55;
	top: 0;
	left: 0;
}

.kakko-2::after {
	border-right: solid 5px #ebbc55;
	border-bottom: solid 5px #ebbc55;
	bottom: 0;
	right: 0;
}

.kakko-2 h2 {
    text-align: center;
}
.waku {
    text-align: center;
    width:1170px;
    height: 248px;
    margin: 0 auto;
    background-color: #ffff;
    border: solid 2px #ebbc55;
    border-radius: 5px;
}

.box {
    width:120px;
    height: 150px;
    display: inline-block;
}

.box p{
    font-size: 10px;
}

.text-3 {
    text-align: center;
    font-weight: bold;
}

.message-text-4 {
    text-align: center;
    width: 1440px;
    height:426px;
    background-image: url("https://isara.life/wp-content/themes/isara_v2/img/aboutsecondbg.jpg");
    background-size: cover;
}
.message-text-4 h2 {
    margin:0;
    padding: 65px;
    color: #fff;
}
.message-text-4 p{
    font-weight: bold;
    color: #fff;
}
.message-text-4 span {
    color:#ebbc55;
}
.white-box {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 146px;
    margin-right: 146px;
}

.boxs {
    width:376px;
    height:170px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    margin-right: 20px;
}
.white-box p{
    line-height: normal;
    font-size: 12px;
    color: #000;
}

.message-text-5 {
    width: 100%;
    height: 138px;
    background-color: #056ea8;
     padding-top: 43px;
}
.message-text-5 p{
    font-weight: bold;
    font-size: 18px;
    /* font-size: 14px; */
    color: #fff;
    text-align: center;
}
.message-text-5 span{
    color:#da6b64;
}
.message-text-6 {
    width: 850px;
    width:100%;
    /* margin: 0 auto; */
    justify-content: space-evenly;
    text-align: center;    
}
.message-text-6 .circle-img img{
    width: 180px;
    height: 180px;
    margin-right: 40px;
    display:inline-flex;  
}

.message-text-6 h3{
    font-size:24px;
}

.message-text-6 p{
    font-size: 20px;
}
.message-text-7 {
    width: 100%;
    height: 980px;
    padding-top: 82px;
    background-color: #fef5e0;
}

.kakko-3 {
    width: 850px;
    margin: 0 auto;
	padding: 30px;
	position: relative;
}

.kakko-3::before, .kakko-3::after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
}

.kakko-3::before {
	border-left: solid 5px #ebbc55;
	border-top: solid 5px #ebbc55;
	top: 0;
	left: 0;
}

.kakko-3::after {
	border-right: solid 5px #ebbc55;
	border-bottom: solid 5px #ebbc55;
	bottom: 0;
	right: 0;
}

.kakko-3 {
    text-align: center;
}

.merit {
    width: 100%;
    margin:0 auto;
    margin-top: 40px;
    display: inline-flex;
    justify-content: center;
    
}
.attention p{
    margin:0;
    padding: 30px 0 30px 0;
    text-align: center;
}
.img-text {
    margin-right: 40px;
    width: 360px;
}

.img-text img{
    width:100%;
}
.merit .img-text h3{
    color:#e6ae33;
}
.merit .img-text p{
    color: #000;
}
.support-text {
    text-align: center;
    width: 1170px;
    /* height: 248px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 2px solid #e8b33f;
    border-radius: 10px;
}
.menbers {
    background-image: url("https://isara.life/wp-content/themes/isara_v2/img/teacherbg.jpg");
    background-size: cover;
    height: 774px;
}
.menbers h2 {
    margin: auto;
    padding-top: 40px;
    text-align: center;
    color: #fff;
}
.menbers p {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.teachers {
    width: 100%;
    margin: 0 auto;
    display:inline-flex;
    justify-content: center;
}

.persons {
    width:380px;
    text-align: center;
}

.teachers .img-text{
    width: 370px;
    margin: 0 auto;
}
.persons .img-text img{
    position: relative;
    top:50px;
    width:200px;
    height: 200px;
    border-radius: 50%;
}

.persons .waku-2 h4 {
    margin-top: 50px;
    font-weight: normal;
    color: #fff;
    line-height: 1;
}
.persons .waku-2 p {
    margin-left:10px;
    margin-right:10px;
    font-weight: 100;
}
.waku-2 {
    width: 365px;
    height: 400px;
    border: 2px solid #fff;
}

.q-and-a {
    padding-top: 40px;
    height: 270px;
    background-color: #eab94d;
    text-align: center;
}
.kakko-4 h1 {
    font-size: 28px;
}
.q-and-a p{
    margin: 0 auto;
    width: 82px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    color: #eab94d;
}

.kakko-4 {
    width: 850px;
    margin: 0 auto;
	
	position: relative;
    color: #fff;
}

.kakko-4::before, .kakko-4::after {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
}

.kakko-4::before {
	border-left: solid 5px #fff;
	border-top: solid 5px #fff;
	top: 0;
	left: 0;
}

.kakko-4::after {
	border-right: solid 5px #fff;
	border-bottom: solid 5px #fff;
	bottom: 0;
	right: 0;
}

.triangle {
    position: relative;
    top:66px;
    left: 700px;
    width: 0;
    height: 0;
    /* border-style: solid; */
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 40px solid #eab94d;
  }

.message-text-8{
    text-align: center;
      background-color: #fff;
  }

.coments {
    width: 852px;
    margin: 0 auto;
}
.coments-img {
    display: flex;
}
  .coments-img img {
      width:240px;
      height:240px;
      margin-left: 36px;
      margin-bottom: 40px;
      border: 2px solid #eab94d;
  }
.coments-img p{
    font-size: 16px;
    line-height: 1.8;
    margin-left: 20px;
    margin-right:56px;
}
.coments-img span {
      text-decoration: underline;
  }
.studies {
    height: 766px;
    background-image: url("https://isara.life/wp-content/themes/isara_v2/img/classbg.jpg");
    background-size: cover;
}

.studies .texts {
    position: relative;
    top: 68px;
    left:500px;
    color: #fff;
}

.list {
    margin-top:90px;
    margin-left: auto;
    margin-right: auto;
    width:854px;
    display: flex;
    color: #fff;
   
    justify-content: center;
}

.lists-l {
    width: 376px;
    border:1px solid#056ea8;
    margin-right:36px;
}

.lists-l ul {
    margin:0;
    padding:0;
}
.lists-l li {
    text-align: center;
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    font-weight: bold;
    color: #000;;
    border-bottom: 1px solid #000;
}

.lists-r {
    width: 376px;
    border:1px solid#056ea8;
    /* margin-right:36px; */
}
.lists-r ul {
    margin:0;
    padding:0;
}
.lists-r li {
    text-align: center;
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    font-weight: bold;
    color: #000;;
    border-bottom: 1px solid #000;
}
.lists-header {
    margin:0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #056ea8;
    color:#fff;
    font-weight: bold;
}

.risk-text {
    height: 136px;
    background-color: #056ea8;
}
.risk-text h1 {
    margin: 0;
    padding-top: 42px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}

.jukou h1 {
    text-align: center;
}
.jukou {
    width:1170px;
    margin: 0 auto;
}

.follow-img img{
    width: 1000px;
    height: 170px;
    margin: 0 auto;
}

.roadmap {
    display: flex;
    width: 1170px;
    height: 220px;
    background-color: #fef5e0;
}
.lines {
    width:1170px;
    margin: o auto;
}